* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f2f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#locationInput {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

#searchBtn {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #218838;
}

.weather-info {
    padding: 20px;
    background-color: #f1d8d8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.forecast-info {
    padding: 20px;
    background-color: #b0e5e8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 20px;
}

footer p {
    color: #260bef;
}
